doctype
html
  head
    title kikokaho project
    
  body
    .wrapper
      header.header
        h1 this is kikokaho's site! have fun!
        header
          .headerTop
            h1.sitetitle komorikomasha
            p.catchcopy １人じゃできないことも、力を合わせればできる。
              
          .hedaerBottom
            .globalnav
              ul
                li
                  a ホーム
                li
                  a わたしたちについて
                li
                  a つくったもの
                li
                  a おといあわせ
                  
        .pagebodymain
          
          .mainvisual
              .mainvisualText
                h1 cafe debut
                p basercms、カフェサイト用テーマ
                  br 
                  |basercms2012　テーマコンテスト　飲食店系テーマ賞受賞
              img(src="" alt="")
              
                
          .index
            article
              img(src="" alt="")
              h2 バッタになりたい魔法使い
              p コモモ・ひろましゃ制作のweb仕掛け絵本
                br
                |合い言葉は、バッタになっちゃえ！
            article
              img(src="" alt="")
              h2 バッタになりたい魔法使い
              p コモモ・ひろましゃ制作のweb仕掛け絵本
                br
                |合い言葉は、バッタになっちゃえ！
            article
              img(src="" alt="")
              h2 バッタになりたい魔法使い
              p コモモ・ひろましゃ制作のweb仕掛け絵本
                br
                |合い言葉は、バッタになっちゃえ！
                
          .newslist
            table
              caption おしらせ
                tr
                  th
                    <time datetime="2013-10-01">2013年10月1日</time>
                  td 
                tr
                  th 
                  td 
                    
        p.pagetop
                    
        footer
          p.copyright
